<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="QujCLvEYEZK5wEOnZ-rQZrrPv8mu4DtaFMoIOBignQA" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
<link href="{{ url_for('static', filename='css/metro.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/select2.min.css') }}" href="/cdn/css/select2.min.css"
      rel="stylesheet">
<link href="{{ url_for('static', filename='css/metro-colors.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/metro-icons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/metro-responsive.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/metro-rtl.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/metro-schemes.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">